/* Gloabl
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  border: 10px solid #E1E3E4;
}

@media (max-width: 550px) {
  body {
    border: none;
  }
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

p {
  font-size: 1.2em;
}

form {
  max-width: 280px;
  z-index: 100;
  position: relative;
}

input {
  width: 100%;
  color: #FFF;
}

.crisp {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  letter-spacing: -0.05rem;
  word-spacing: 0.15rem;
}

.logo {
  height: 27px;
  width: 133px;
  margin-top: 3px;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;

  transition: all ease 0.12s;
}

a .logo:hover, a .logo:focus {
  opacity: 0.7;
  cursor: pointer;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero {
  background: #525174;
  background: url(/images/hero-bg.jpg) no-repeat top center / cover, #525174;
  padding: 4em 0 5em;
  color: #FFF;
  position: relative;
}

@media (max-width: 550px) {
  #hero {
    padding: 3em 0;
  }
  #hero h1 {
    display: none;
  }
  form {
    max-width: 100%;
  }
}

#hero h1 {
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5em;
  opacity: 0.95;
}

#hero p {
  opacity: 0.85;
  font-size: 18px;
}

.moon {
  margin-bottom: 3.5em;
  text-align: center;
}

@media (max-width: 550px) {
  .moon {
    margin-bottom: 2em;
  }
}

.walkthrough img {
  box-shadow: 0 6px 40px rgba(255, 255, 255, 0.4);
}

.walkthrough video {
  width: 100%;
  box-shadow: 0 6px 40px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.foreground img {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#content {
  padding: 2em 0 6em;
  text-align: center;
}

#content .container {
  margin: 0 auto;
}

#content h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.02em;
  margin-bottom: 0.5em;
}

@media (max-width: 550px) {
  #content h2 {
    font-size: 1.8em;
  }
  #content {
    padding: 4em 0;
  }
}

#content h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin: 1em auto;
  max-width: 360px;
}

#content p {
  color: #8D99AE;
  max-width: 360px;
  font-size: 16px;
  margin: 0 auto;
}

#content hr {
  width: 50px;
  border-top: 2px solid #E1E3E4;
  border-radius: 2px;
  margin: 5em auto;
}

.benefits img {
  max-width: 117px;
  margin-top: 4em;
}

.audience {
  margin-bottom: 2em;
}

.audience h2 {
  font-weight: 400 !important;
  font-size: 22px !important;
  margin-bottom: 3em !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.audience h3 {
  margin-top: 3em !important;
  text-align: left;
  font-size: 18px !important;
}

.audience p {
  text-align: left;
}

.audience img {
  width: 600px;
}

.contractor b {
  border-bottom: 3px solid #99DCF6;
  padding-bottom: 0.15em;
}

.contractor span {
  color: #00A8E8;
  margin-right: 0.3em;
}

.company b {
  border-bottom: 3px solid #B9EBCB;
  padding-bottom: 0.15em;
}

.company span {
  color: #4FCC7E;
  margin-right: 0.3em;
}

.agency b {
  border-bottom: 3px solid #FFEFB2;
  padding-bottom: 0.15em;
}

.agency span {
  color: #FFE066;
  margin-right: 0.3em;
}

.quote {
  max-width: 500px;
  background-color: #FFF;
  margin: 2em 0 -8em;
  font-size: 34px;
  font-weight: 700;
  text-align: left;
  line-height: 1.3;
  padding: 1em;
  box-shadow: 40px 40px 50px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.shadow-right {
  box-shadow: -40px 40px 50px rgba(0, 0, 0, 0.2);
}

@media (max-width: 550px) {
  .quote {
    margin: 0;
    padding: 0 0 1em;
    float: none;
    font-size: 28px;
    box-shadow: none;
  }
}


/* Legal stuff
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.legal {
  max-width: 680px;
  margin: 4em auto;
}

.legal h1 {
  font-weight: 700;
  font-size: 24px;
}

.legal h2 {
  font-weight: 700;
  font-size: 36px;
  margin-top: 1em;
}

.legal h3 {
  /*font-weight: 700;*/
  font-size: 24px;
  margin-top: 1em;
}

.legal p {
  font-size: 16px;
}

header {
  background-color: #525174;
  text-align: center;
  padding: 2em 1em;
}


/* Standard contract
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contract {
  max-width: 960px;
  margin: 4em auto;
}

.contract h1 {
  font-weight: 700;
  font-size: 28px;
}

.contract h2 {
  font-size: 24px;
}

.contract h3 {
  /*font-weight: 700;*/
  font-size: 24px;
  margin-top: 1em;
}

.contract p {
  font-size: 16px;
}

.setup {
  margin-bottom: 3em;
}

.section {
  margin-top: 1em;
  line-height: 1.6;
}

.explain {
  padding-left: 1em;
  border-left: 2px solid #00A8E8;
  margin-bottom: 2em;
}

.explain h4 {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.explain p {
  font-size: 14px;
  color: #8D99AE;
  line-height: 1.6;
  margin-bottom: 0;
}


/* Support
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.support {
  max-width: 680px;
  margin: 4em auto 6em;
}
.support h2 {
  font-weight: 700;
  font-size: 28px;
  margin-top: 2em;
}

.support h3 {
  font-size: 22px;
  margin: 2em 0 0.5em;
  font-style: italic;
}

.support p {
  font-size: 16px;
  color: #8D99AE;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  padding: 3em 3em 1em;
  color: #FFF;
  background-color: #525174;
}

footer .container {
  width: 100%;
  max-width: 100%;
}

footer img {
  float: left;
  margin-right: 30px;
}

footer p {
  font-size: 1em;
  margin-top: 10px;
  color: #CBCBD5;
}

footer ul {
  list-style: none;
  float: right;
  margin-top: 10px;
}

footer ul li {
  float: left;
}

footer ul li a {
  text-decoration: none;
  /*color: #FFF;*/
  opacity: 0.7;
  padding: 1em;
}

footer ul li a:hover, footer ul li a:focus {
  color: #FFF;
  opacity: 1;
}

@media (max-width: 760px) {
  footer {
    padding: 2em 1em 1em;
  }
  footer ul {
    float: none;
  }
  footer p {
    margin-right: 1em;
  }
  footer ul li a {
    padding: 1em 2em 1em 0;
  }
}

@media (max-width: 400px) {
  footer img {
    float: none;
    margin-bottom: 1em;
  }
}

/* Subscribe confirmation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.splash {
  background: url(/images/hero-bg.jpg) center top no-repeat / cover;
  border: none;
  height: 100vh;
}

.splash .container {
  margin: 2em auto;
  max-width: 20em;
  color: #FFF;
  text-align: center;
}

.splash img {
  max-width: 120px;
  text-align: center;
}

.splash h1 {
  font-size: 28px;
  text-align: left;
  font-weight: 700;
  color: #FFF;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0.5em auto 1em;
}

@media (max-width: 550px) {
  .splash h1 {
    font-size: 1.8em;
  }
}

.splash .desc {
  margin: 0 auto;
  text-align: left;
  font-size: 15px;
}

.splash .desc .button {
  width: 100%;
  margin-top: 1em;
  background-color: #00A8E8;
}

.splash .copy {
  opacity: 0.85;
  margin-top: 4em;
  font-size: 0.8em;
}
