/* Gloabl
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  border: 10px solid #E1E3E4;
}

@media (max-width: 550px) {
  body {
    border: none;
  }
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

p {
  font-size: 1.2em;
}

form {
  max-width: 280px;
  z-index: 100;
  position: relative;
}

input {
  width: 100%;
  color: #FFF;
}

input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.4);
}

input::-moz-placeholder {
  color: rgba(255,255,255,0.4);
}

input:-ms-input-placeholder {
  color: rgba(255,255,255,0.4);
}

input:-moz-placeholder {
  color: rgba(255,255,255,0.4);
}

.crisp {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  letter-spacing: -0.05rem;
  word-spacing: 0.15rem;
}

.logo {
  height: 27px;
  width: 133px;
  margin-top: 3px;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;

  transition: all ease 0.12s;
}

a .logo:hover, a .logo:focus {
  opacity: 0.7;
  cursor: pointer;
}

ol {
  list-style-type: lower-roman;
}

ul {
  list-style: disc;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero {
  background: #525174;
  background: url(/images/hero-bg.jpg) no-repeat top center / cover, #525174;
  padding: 4em 0 5em;
  color: #FFF;
  position: relative;
}

#hero h1 {
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5em;
}

#hero p {
  opacity: 0.85;
  font-size: 22px;
  max-width: 400px;
  margin: 0 auto 2em;
}

#hero .container {
  max-width: 680px;
  text-align: center;
}

@media (max-width: 550px) {
  #hero {
    padding: 3em 0;
  }
  #hero h1 {
    font-size: 28px;
  }
  #hero p {
    font-size: 20px;
  }
  form {
    max-width: 100%;
  }
}

.walkthrough img {
  box-shadow: 0 6px 40px rgba(255, 255, 255, 0.4);
}

.walkthrough video {
  width: 100%;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}

.foreground img {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#content {
  padding: 2em 0 6em;
  text-align: center;
}

#content .container {
  margin: 4em auto 0;
}

#content h2 {
  font-weight: 400;
  font-size: 36px;
  margin: 0 auto 1.2em;
  max-width: 440px;
  line-height: 1.4;
}

@media (max-width: 550px) {
  #content h2 {
    font-size: 1.8em;
  }
  #content {
    padding: 1em 0 6em;
  }
}

#content h2 b {
  background-color: #E0F4FC;
  padding: 0.05em 0.1em;
  border-radius: 2px;
  font-style: italic;
  font-weight: 700;
}

#content h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin: 1em auto 0.5em;
  max-width: 360px;
}

#content h4 {
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.02em;
  margin: 2em auto -0.5em;
}

#content p {
  color: #2E4249;
  max-width: 480px;
  font-size: 20px;
  margin: 1.5em auto 0;
  line-height: 1.5;
  text-align: left;
  letter-spacing: -0.02em;
}

#content hr {
  width: 50px;
  border-top: 3px solid #E1E3E4;
  border-radius: 3px;
  margin: 6em auto 5em;
}

.lifestyle img {
  border-radius: 3px;
  box-shadow: 4px 12px 40px rgba(0, 0, 0, 0.3);
  width: 270px;
  margin: 0.5em auto 1.5em;
}

@media (max-width: 760px) {
  .hide-mobile {
    display: none;
  }
}

.screen {
  margin-top: 3em;
}

.benefits img {
  max-width: 117px;
  margin-top: 2em;
}

.benefits p {
  color: #8D99AE !important;
  font-size: 18px !important;
  text-align: center !important;
  margin: 0.5em auto 0 !important;
}

.not {
  margin-top: 1em;
}

.not img {
  max-width: 60px;
  margin-top: 4em;
}

.quote {
  max-width: 640px;
  margin: 1.5em auto;
  border: 4px solid #4FCC7E;
  border-radius: 2px;
  padding: 0 3em 4em;
  position: relative;
}

.quote:before {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #4FCC7E;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -4px;
  transform: rotate(180deg);
}

.quote:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-top-color: #FFF;
	border-bottom: 0;
	margin-left: -14px;
	margin-bottom: -4px;
  transform: rotate(180deg);
}

.quote h4 {
  text-transform: uppercase;
  margin-top: -25px !important;
  font-size: 14px !important;
  background-color: #FFF;
  padding: 1em;
  text-align: center !important;
  display: table;
  letter-spacing: 0.1em !important;
  color: #8D99AE !important;
}

.quote-text {
  font-size: 26px !important;
  text-align: center !important;
  max-width: 100% !important;
}

.quote-source {
  font-size: 18px !important;
  color: #8D99AE !important;
  text-align: center !important;
  font-style: italic;
  margin-top: 2.5em !important;
}

@media (max-width: 550px) {
  .quote {
    padding: 0 1em 3em;
  }
}

.payment {
  max-width: 480px;
  margin: 0 auto;
}

.payment h4 {
  margin: 3em 1em -0.5em 0 !important;
}

.payment span {
  background-color: #4FCC7E;
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  padding: 0.2em 0.4em;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  margin-top: 2px;
}

@media (max-width: 450px) {
  .payment span {
    position: relative;
    margin-top: 10px;
  }
}

.explainer {
  font-size: 16px !important;
  color: #8D99AE !important;
}

.free {
  background-color: #E1E3E4 !important;
  color: rgba(0,0,0,0.4) !important;
}


/* Legal stuff
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.legal {
  margin: 4em auto;
}

.legal h1 {
  font-weight: 700;
  font-size: 24px;
}

.legal h2 {
  font-weight: 700;
  font-size: 36px;
  margin-top: 1em;
}

.legal h3 {
  font-size: 24px;
  margin-top: 1em;
}

.legal p {
  font-size: 16px;
}

header {
  background-color: #525174;
}

.header {
  padding: 2em 0 1.25em;
}

.header .button {
  margin-bottom: 0 !important;
}

.moon {
  margin-bottom: 1em;
}

.moon span {
  position: absolute;
  margin-left: 1.5em;
  margin-top: 8px;
  font-size: 18px;
  font-style: italic;
  color: #8D99AE;
}

@media (max-width: 550px) {
  .moon span {
    display: none;
  }
  .moon {
    text-align: center;
  }
  .header {
    padding: 1em 0;
  }
}


/* Standard contract
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contract {
  margin: 4em auto;
}

.contract h1 {
  font-weight: 700;
  font-size: 28px;
}

.contract h2 {
  font-size: 24px;
}

.contract h3 {
  /*font-weight: 700;*/
  font-size: 24px;
  margin-top: 1em;
}

.contract p {
  font-size: 16px;
}

.setup {
  margin-bottom: 2em;
}

.section {
  margin-top: 1em;
  line-height: 1.6;
}

.explain {
  padding-left: 1em;
  border-left: 2px solid #00A8E8;
  margin-bottom: 2em;
}

.explain h4 {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.explain p {
  font-size: 14px;
  color: #8D99AE;
  line-height: 1.6;
  margin-bottom: 0;
}


/* Support
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.support {
  margin: 4em auto 6em;
}
.support h2 {
  font-weight: 700;
  font-size: 28px;
  margin-top: 1.5em;
}

.support h3 {
  font-size: 24px;
  margin: 2em 0 1em;
  font-style: italic;
}

.support p {
  font-size: 18px;
  color: #8D99AE;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  padding: 3em 3em 1em;
  color: #FFF;
  background-color: #525174;
}

footer .container {
  width: 100%;
  max-width: 100%;
}

footer img {
  float: left;
  margin-right: 30px;
}

footer p {
  font-size: 1em;
  margin-top: 10px;
  color: #CBCBD5;
}

footer ul {
  list-style: none;
  float: right;
  margin-top: 10px;
}

footer ul li {
  float: left;
}

footer ul li a {
  text-decoration: none;
  /*color: #FFF;*/
  opacity: 0.7;
  padding: 1em;
}

footer ul li a:hover, footer ul li a:focus {
  color: #FFF;
  opacity: 1;
}

@media (max-width: 760px) {
  footer {
    padding: 2em 1em 1em;
  }
  footer ul {
    float: none;
  }
  footer p {
    margin-right: 1em;
  }
  footer ul li a {
    padding: 1em 2em 1em 0;
  }
}

@media (max-width: 400px) {
  footer img {
    float: none;
    margin-bottom: 1em;
  }
}

.footer-cta {
  text-align: center;
}

.footer-cta a {
  padding: 3em 0 3.5em;
  width: 100%;
  display: block;
  color: #FFF;
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 0.02em !important;
  text-shadow: 0 2px 6px rgba(0,0,0,0.30);
  background-color: #444B6E;
  transition: all ease 0.12s;
}

.footer-cta a:hover,
.footer-cta a:focus {
  background-color: #00A8E8;
}

.footer-cta a img {
  height: 20px;
  margin-left: 8px;
  padding-top: 4px;
}

@media (max-width: 550px) {
  .footer-cta a {
    font-size: 1.6em;
  }
}

/* Subscribe confirmation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.splash {
  background: url(/images/hero-bg.jpg) center top no-repeat / cover;
  border: none;
  height: 100vh;
}

.splash .container {
  margin: 3em auto 1em;
  max-width: 20em;
  color: #FFF;
  text-align: center;
}

.splash img {
  max-width: 120px;
  text-align: center;
}

.splash h1 {
  font-size: 28px;
  text-align: left;
  font-weight: 700;
  color: #FFF;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0.5em auto 1em;
}

@media (max-width: 550px) {
  .splash h1 {
    font-size: 1.8em;
  }
}

.splash .desc {
  margin: 0 auto;
  text-align: left;
  font-size: 15px;
}

.button {
  width: 100%;
  background-color: #00A8E8;
  margin-bottom: 2em;
}

.button img {
  height: 12px;
  margin-left: 5px;
  padding-top: 3px;
}

.splash .copy {
  opacity: 0.85;
  margin-top: 4em;
  font-size: 0.8em;
}
